table, table th, table td, table tr {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	background-color: white;
	padding: 0px;
	margin: 0px;
}

table th {
  width: 65px;	
}



table td {
  height: 45px;	
  text-align: center;
}

table td.black {
	background-color: #000000;
}

table td.red {
	background-color: #FF0000;
}

table td.pairedRecently {
	background-color: #F2A7A7;
}

table td.pairedAWhileAgo {
	background-color: #E02B2B;
}

table td.pairedALongTimeAgo {
	background-color: #FF0000;
}

.today {
	background-color: #98CF71;
}

