table, table th, table td, table tr {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	background-color: white;
	padding: 0px;
	margin: 0px;
}

table th {
  width: 90px;	
}

table td {
  height: 45px;	
  max-width: 90px;
  text-align: center;
}

table td.black {
	background-color: #000000;
}

table td.red {
	background-color: red;
	text-align: center;
}

.today {
	background-color: #98CF71;
}

#draggable p { 
	width: 80px; 
	height: 30px; 
	padding: 0; 
	float: left; 
	margin: 10px 10px 10px 0; 
	border: 2px solid black;
	text-align: center;
	padding-top: 12px;
}
